/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.main-navbar {
	background-color: #393C3E;
}

.main-navbar-inner {
	background: transparent !important;
	height: 46px;
}

.navbar-nav-gobmx>li>a:hover{
	background-color: #000 !important;
}

.container-navbar-main, .container-gobmx{
	padding-left: 60px;
    padding-right: 60px;
}

.container-gobmx-footer{
	padding-left: 45px;
    padding-right: 45px;
}

.gobmx-footer {
	height: 39px !important;
}

.brand-imss{
	padding: 9px 15px;
	font-size: 20 px;
	margin-left: -15px;
}

.navbar-nav-gobmx>li>a {
	color:#fff !important;
	font-size: 16px;
    font-weight: normal;
    text-shadow: 0 0 #fff !important;
}

.main-footer {
	background-color: #28292A;
    min-height: 56px;
    color: #fff;
    padding: 20px 0 30px;
    font-weight: 300;
}

.main-footer .list-info ul {
	margin: 0 0 60px !important;
    padding: 0;
}

.main-footer .list-info ul li {
	list-style: none;
	margin: 0 0 2px;
    padding: 0;
}

.main-footer .list-info ul>li>a {
	color:#fff;
	font-size: 14px;
	text-decoration: underline;
}

.main-footer .list-info ul>li>a:hover {
	text-decoration: none;
}

.main-footer .list-info a {
    color: #fff;
    /*color: #4a90e2; */
    font-size: 14px;
    text-decoration:underline;
}

.main-footer .list-info a:hover {
    text-decoration: none;
}

.list-info {
	background-color: #393b3c;
    padding: 30px 0 70px;
    margin-bottom: 30px;
}

.list-info h5 {
	font-size: 18px;
	font-weight: normal;
}

.main-footer .list-info form .form-control {
	width: 100%;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-icon .form-control {
    min-height: 35px !important;
}

.blue-right {
    background-color: #4A90E2 !important;
    color: #fff;
    padding: 7px 10px 3px 14px !important;
    border-radius: 0;
    position: relative;
    left: 278px;
    top: -48px;
    border: 1px solid #4a90e2;
    height: 34px;
    width: 40px;
}

.list-gob-mx{
	width:100%;
	margin:0;
	padding-top: 0 !important;
}

.list-gob-mx ul >li >a{
	line-height: 19px !important;
	
}
.col-footer-gob-mx{
	
}

.social-icon {
    background-image: url(../images/icons_full.png);
    display: block;
    text-indent: -9999px;
    margin-right: 5px;
}

.social-icon.facebook {
    width: 14px;
    height: 20px;
    background-position: 0 0;
}

.social-icon.twitter {
    width: 24px;
    height: 20px;
    background-position: -34px 0;
}

.social-icon:hover {
    opacity: .5;
}

.row-footer{
	padding-left: 45px;
	padding-right: 0px;
}

fieldset {
    margin: 0;
    min-width: 0;
}

fieldset, legend {
    padding: 0;
    border: 0;
}

.vh, .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
}

.main-footer .list-info form label {
    font-weight: 300;
    margin-bottom: 15px !important;
    line-height: 110%;
    font-size: 18px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.aui body {
	font-size:16px;
	color:#545454;
}

.aui .navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: right;
    margin: 0 70px 0 0;
}

.aui .nav-add-controls{
	float: left !important;
	margin-left: 60px !important;
}
	

.aui #navigation .brand {
    /* margin-right: 450px; */
    position: fixed;
    left: 75px;
}

.aui .site-navigation {
    margin-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.aui #navigation .nav li.active>a {
    background-color: #000;
}

.aui #navigation .navbar-inner {
    background: #000;
    border-width: 0;
    min-height: 36px;
}

.aui .dockbar {
    left: 0;
    right: 0;
    top: 83px;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
    background: transparent;
    position: fixed;
    top: 20%;
    z-index: 350;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li>a {
    background: #545454;
    line-height: 34px !important;
    padding: 6px 8px;
}

.aui #breadcrumbs {
    margin-left: 75px;
    color: #393C3E;
    margin-top: 100px;
    margin-bottom:0;
}

.aui #breadcrumbs a{
    color: #393C3E
}

.aui #breadcrumb>.active {
    font-weight: 700;
    color: #545454;
}

.aui .breadcrumb {
    background-color: #fff !important;
}

.aui #breadcrumbs {
	background-color: #fff !important;
}

.aui .portlet-topper {
    background: #d3d3d3;
    color: #545454;
    padding: 0;
}

.aui .portlet-topper .portlet-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.2;
    margin: 0;
}

.aui .portlet-topper {
    background: #fff;
    color: #545454;
    padding: 0;
}

.aui .portlet-content, .aui .portlet-minimized .portlet-content-container {
    border: 1px solid #fff;
    border-top-width: 0;
    padding: 12px 10px 10px;
}

.footer-label{
	color:#fff !important;
}



.aui .dropdown-menu{
	z-index: 99999;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

#wrapper {
    padding: 2em 0 0;
    position: relative;
}
/*-----------------------Exclusivas para gob mx ----------------------------------------*/

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}


/* -------------------- Comienzan la medias querys -------------------------------------*/

@media (min-width: 768px) {
	.main-footer {
    	text-align: left;
	}
	
	.main-footer .list-info form .form-group-icon {
    max-width: 300px;
	}
	
	.list-gob-mx{
	width:100% !important;
	margin:0;
	}
}


@media (min-width: 1200px){
	.aui .row-fluid {
    	width: 100%;
    	margin: auto;
    	padding-top:115px;
	}
	
	.list-gob-mx{
	width:100% !important;
	margin:0;
	}
}

.dockbar-user-notifications	.dropdown-toggle .user-notifications-count {
	background-color: #d9534f !important;
	border: 1px solid #d43f3a !important;
	ine-height: 1.2em !important;
   	margin: 4px 0 !important;
   	padding: 1px 10px !important;
}

.aui .dockbar-split .dockbar .navbar-inner .nav>li>a{
	line-height: 32px !important;
}

.aui #navigation .nav>.active>a {
    background-color: #000 !important;
    /* background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#118ade),color-stop(47%,#118ade),color-stop(100%,#1273c7)); */
    /* background-image: -webkit-linear-gradient(#118ade 0,#118ade 47%,#1273c7 100%); */
    /*background-image: -moz-linear-gradient(#118ade 0,#118ade 47%,#1273c7 100%); */
    /*background-image: -o-linear-gradient(#118ade 0,#118ade 47%,#1273c7 100%);*/
    /* background-image: linear-gradient(#118ade 0,#118ade 47%,#1273c7 100%); */
    /* -webkit-box-shadow: none; */
    -moz-box-shadow: none;
    box-shadow: none;
    /* filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF118ADE',endColorstr='#FF1273C7');*/
}

// Styles for dropdownmwnu for gobmx

.dropdown-menu {
	border:1px solid rgba(0,0,0,.15);
	font-size:18px;
}

.dropdown-menu li >a {
	text-decoration: none;
	color: #333;
}

.dropdown-menu li >a :hover{
	text-decoration: none;
	color: #333;
	backgound-color:#f6f6f6;
}

