<%@include file="init.jsp" %>
<style>

.alert-success {
    display: none!important;
}

</style>

<%
/*JSONObject tema = null;
JSONArray listadoSeguimientosTema = null;
JSONArray acuerdosJArray =  null;

long temaId = ParamUtil.getLong(request, "temaId");

if(temaId != 0){

	tema =  CustomUtil.getJSONObjectTemaById(temaId);
	acuerdosJArray = (JSONArray)tema.getJSONArray("acuerdos");
	listadoSeguimientosTema = (JSONArray)tema.getJSONArray("listaSeguimientosTema");

	
}else{
	
	tema = (JSONObject)request.getAttribute("tema");
	listadoSeguimientosTema = (JSONArray)request.getAttribute("listaSeguimientosTema");
}*/


JSONObject tema = null;

long temaId = ParamUtil.getLong(request, "temaId");


if(temaId != 0){
	
	tema =  CustomUtil.getJSONObjectTemaById(temaId);
	
}else{
	
	tema = (JSONObject)request.getAttribute("tema");
}




JSONArray acuerdosJArray = (JSONArray)tema.getJSONArray("acuerdos");
JSONArray listadoSeguimientosTema = (JSONArray)request.getAttribute("listaSeguimientosTema");



if(Validator.isNull(listadoSeguimientosTema)){
	
	listadoSeguimientosTema = (JSONArray)tema.getJSONArray("listaSeguimientosTema");

}









Calendar cal = Calendar.getInstance();
int _anio = cal.get(Calendar.YEAR);
int _mes = cal.get(Calendar.MONTH);
int _dia = cal.get(Calendar.DAY_OF_MONTH);


PortletURL 	redirectUrl = PortletURLFactoryUtil.create(request, "ControlAcuerdos_WAR_ControlAcuerdosportlet", themeDisplay.getPlid(),PortletRequest.ACTION_PHASE);
redirectUrl.setPortletMode(PortletMode.VIEW);
redirectUrl.setParameter("p_p_state", "normal");
redirectUrl.setParameter("p_p_col_id", "column-1");
redirectUrl.setParameter("p_p_col_count", "1");
redirectUrl.setParameter("temaId", tema.getString("id"));
redirectUrl.setParameter("javax.portlet.action", "getTemaInfo");
%>

		        
<portlet:resourceURL var="ajaxURL"></portlet:resourceURL>


<div class="accordion " id="slxt">

<portlet:renderURL windowState="normal" var="backURL">
  <portlet:param name="jspPage" value="/view.jsp"></portlet:param>
</portlet:renderURL>

<liferay-portlet:renderURL var='addSeguimientoTemas' windowState='<%=LiferayWindowState.POP_UP.toString()%>' >
 <portlet:param name="mvcPath" value='/agregarSeguimientoTemas.jsp' />
</liferay-portlet:renderURL>

<liferay-ui:header
    backURL="<%= backURL %>"
    title="Regresar"/>
    
    

<div class="accordion-group  lfr-panel" id="qlmi">
	<div class="accordion-heading">
		<div class="accordion-toggle">
			<span class="title-tema-text">
				Tema: <%= tema.getString("descripcion") %>
			</span>
		</div>
	</div>
	<div class="" id="qlmiContent">
		<div class="accordion-inner">
		<div class="container-fluid">
	

			<div class="column w50">
				<div class="column-content">
				
										
					<div class="form-group">
						<div class="alert-info control-div">Estatus:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("estatus") %></div>
						</div>
					</div>
					<div class="form-group">
						<div class="alert-info control-div">Responsable del Registro:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("responsableRegistro") %></div>
						</div>
					</div>
					<div class="form-group">
						<div class="alert-info control-div">Responsable del Seguimiento:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("responsableSeguimiento") %></div>
						</div>
					</div>

					<div class="form-group">
						<div class="alert-info control-div">Fecha de Registro:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("fechaRegistro") %></div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="alert-info control-div">Fecha de Siguiente Seguimiento:</div>            		
						<div class="controls">
						
							<div class="form-control">
							
							<% 
							
							String fechaSiguienteSeguimiento = tema.getString("fechaSiguienteSeguimiento");
							
							String[] arrStr = fechaSiguienteSeguimiento.split("/");
							
						
							
							int diaInt = Integer.parseInt(arrStr[0]);
							int mesInt = Integer.parseInt(arrStr[1]);
							int anioInt = Integer.parseInt(arrStr[2]);

							
							%>
							

							
												<liferay-ui:input-date formName="fechaSeguimiento" name="fechaSeguimiento" 
					dayValue="<%= diaInt %>" yearValue="<%= anioInt %>" monthValue="<%= mesInt-1 %>"
            			dayParam="dd" monthParam="MM" yearParam="yyyy" />
            			
							
							
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="alert-info control-div">Fecha Limite de Atención:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("fechaLimiteAtencion") %></div>
						</div>
					</div>
					
					
				</div>
			</div>

			<div class="column w45">
				<div class="column-content">
					
					
					<% /*if((!tema.getString("estatus").equalsIgnoreCase("cerrado")) && (!tema.getString("estatus").equalsIgnoreCase("abandonado")))*/
					
					if((tema.getString("estatus").equalsIgnoreCase("abierto"))){ 
					%>
					<div class="form-group">
						<div class="alert-info control-div">Acciones</div>
						<div class="controls">
								<div class="button-holder">
	
	
									<%
									
									if(tema.getLong("responsableRegistroId") == user.getUserId())
									{
									
										
									%>
									<aui:row>
	
										<div class="controls" id="<portlet:namespace/>dvAsociado">	
			
											<button id="dv<portlet:namespace/>_valCerrarTema" class="btn btn-info btn-primary"  type="button" onClick="cerrarTema()">Cerrar Tema</button>
			
											<button id="dv<portlet:namespace/>_valAbandonarTema" class="btn btn-info btn-primary"  type="button" onClick="abandonarTema()">Abandonar Tema</button>
			
										</div>

									</aui:row>
									
									
									<%
									
									} 
									
									%>
									<br/>

									<aui:row>
										<div class="controls" id="<portlet:namespace/>dvAsociado">	
											
											<aui:select name="prioridad" label="Cambiar prioridad">
											       
												    <aui:option label="Baja" value="baja" selected="<%=tema.getString("prioridad").equalsIgnoreCase("baja") %>"/>
											        <aui:option label="Media" value="media" selected="<%=tema.getString("prioridad").equalsIgnoreCase("media") %>"/>
											        <aui:option label="Alta" value="alta" selected="<%=tema.getString("prioridad").equalsIgnoreCase("alta") %>"/>
											        <aui:option label="Critica" value="critica" selected="<%=tema.getString("prioridad").equalsIgnoreCase("critica") %>"/>
						
											</aui:select>
			
										</div>
									</aui:row>
									
									
								</div>
						</div>

					</div>
					<% } %>
			    
					

					<div class="form-group">
						<div class="alert-info control-div">Descripción Detallada:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("descripcionDetallada") %></div>
						</div>
					</div>
					
					
					<% 
					if((tema.getString("estatus").equalsIgnoreCase("cerrado"))){ 
					%>
					<div class="form-group">
						<div class="alert-info control-div">Razones del cierre:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("razonCierre") %></div>
						</div>
					</div>
					<% } %>
					
					<% 
					if((tema.getString("estatus").equalsIgnoreCase("abandonado"))){ 
					%>
					<div class="form-group">
						<div class="alert-info control-div">Razones del Abandono:</div>
						<div class="controls">
							<div class="form-control"><%= tema.getString("razonAbandono") %></div>
						</div>
					</div>
					<% } %>
					
										
				</div>
			</div>
			<div class="column w95">
				<div class="column-content">
					<div class="form-group">
      <div class="alert-info control-div">Hitos de Seguimiento</div>
        <div class="controls" id="<portlet:namespace/>dvAsociado">
 				<%if((tema.getString("estatus").equalsIgnoreCase("abierto"))){  %>
 
 				<button id="dv<portlet:namespace/>_valSeguimientoTemas" class="btn btn-info btn-primary"  type="button" onClick="showSeguimientoTema()">Agregar Seguimiento</button>
 
                <% } %>
        </div>
 
       <div class="controls">  
        <liferay-ui:panel-container accordion="true" extended="true">
 
              <%
              if(Validator.isNotNull(listadoSeguimientosTema))
              {
              for(int i = 0; i < listadoSeguimientosTema.length(); i++ ){
               JSONObject seguimiento = listadoSeguimientosTema.getJSONObject(i);
               int valor = i+1;
               String nombreTitulo = "Seguimiento " + valor ;
              %> 

           <liferay-ui:panel title="<%= nombreTitulo %>" defaultState="collapsed" >
           
           	<aui:row> <strong> Fecha de creación: </strong> <%= seguimiento.getString("fechaCreacion")%></aui:row> 
	       	<aui:row>
	           	<%= seguimiento.getString("descripcion")%>  
	        </aui:row>
           
           </liferay-ui:panel>
               
               
              <%  
              }
              }
              %>  

        </liferay-ui:panel-container>
       </div>
      </div>     
					<div class="form-group">
							<div class="alert-info control-div">Acuerdos</div>
						<div class="controls" id="<portlet:namespace/>dvAsociado">	

							<%if((tema.getString("estatus").equalsIgnoreCase("abierto"))){  %>
 
							<button id="dv<portlet:namespace/>_valAcuerdos" class="btn btn-info btn-primary"  type="button" onClick="showAcuerdo()">Agregar Acuerdo</button>
							
							  <% } %>
							</div>
							<br/>
							
							<div class="controls">		
								<liferay-ui:panel-container accordion="true" extended="true">
								   


								
																   
						        <%
						        if(Validator.isNotNull(acuerdosJArray))
					        	{ 
						       
						        for(int i = 0; i < acuerdosJArray.length(); i++ ){
							        JSONObject option = acuerdosJArray.getJSONObject(i);
						        %>	

						        <liferay-ui:panel title="<%= option.getString("acuerdoDescripcion") %>" defaultState="collapsed">
						        	<div class="controls">
						  		
						  			
						  				<%if((tema.getString("estatus").equalsIgnoreCase("abierto"))){  %>
											<a class="<portlet:namespace />acuerdo-vinculado" id="<%= option.getString("acuerdoId") %>" href="#"  onClick="desvincularAcuerdo(<%= option.getString("acuerdoId") %>)" >Desvincular del Tema</a>
							 			<% } %>
									</div>
								     
								     
						        	<portlet:actionURL name="getAcuerdoInfo" var="getAcuerdoInfoURL">
					   					<portlet:param name="acuerdoId" value='<%= option.getString("acuerdoId") %>'></portlet:param>
									</portlet:actionURL>
						        	
						        	<li><a href="<%= getAcuerdoInfoURL %>"><%= option.getString("acuerdoDescripcionDetallada") %></a></li>
						        	
						        	 
								</liferay-ui:panel>
						        	
						        	
						        <% 	
						        }
						        }
						        %>  
		        
		        
		          


								</liferay-ui:panel-container>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		</div>
	</div>
</div>



<div id="modal"></div>

<liferay-portlet:renderURL var="addAcuerdoURL" windowState="<%=LiferayWindowState.POP_UP.toString()%>" >
	<portlet:param name="mvcPath" value="/agregarAcuerdo.jsp" />
	<portlet:param name="temaId" value="<%= tema.getString("id") %>" />
</liferay-portlet:renderURL>


<liferay-portlet:renderURL var="cerrarTemaURL" windowState="<%=LiferayWindowState.POP_UP.toString()%>" >
	<portlet:param name="mvcPath" value="/cerrarTema.jsp" />
	<portlet:param name="temaId" value="<%= tema.getString("id") %>" />
</liferay-portlet:renderURL>

<liferay-portlet:renderURL var="abandonarTemaURL" windowState="<%=LiferayWindowState.POP_UP.toString()%>" >
	<portlet:param name="mvcPath" value="/abandonarTema.jsp" />
	<portlet:param name="temaId" value="<%= tema.getString("id") %>" />
</liferay-portlet:renderURL>



<script type="text/javascript">
var _nameSpace = '<portlet:namespace/>';
var _urlAcuerdo ='<%=addAcuerdoURL%>';
var _urlCerrarTema ='<%=cerrarTemaURL%>';
var _urlAbandonarTema ='<%=abandonarTemaURL%>';
var _urlSeguimientoTema ='<%=addSeguimientoTemas%>?idTema=<%= tema.getLong("id") %>';


	AUI().ready('event', 'node', function(A) {
		showToogle();
		
        var prioridadNode = A.one('#<portlet:namespace />prioridad');
        var fechaSeguimientoNode =  A.one('#<portlet:namespace/>fechaSeguimiento');
        

        fechaSeguimientoNode.on('change', function(event){

        	console.log("fechaSeguimiento change event");

        })


        prioridadNode.on('change', function(event){

        	var prioridad =  prioridadNode.get("value");
        	
			var cambiarPrioridad = confirm("¿Estas seguro que deseas cambiar la prioridad?");
		    if (cambiarPrioridad) {
		    
				A.io.request('<%=ajaxURL%>',{
					dataType: 'json',
					method: 'GET',
					sync: true,
					data: { <portlet:namespace />prioridad: prioridad,
							<portlet:namespace />temaId: <%= tema.getString("id") %>,
							<portlet:namespace />cmd: "updatePrioridad"},
					on: {
						success: function() {
							console.log("prioridad cambiada");
							
							window.location.href = "<%= redirectUrl %>";
						
						}
					}
				});  	
				
				
		    	console.log("cambiar!!!!");
		    }else{	
		    }
        });    



	});

	
	

	function desvincularAcuerdo(acuerdoId){
		AUI().use('event', 'node', 'aui-io-request', function(A) {
			
			//aui ajax call to get updated content

			var desvincula = confirm("¿Estas seguro que quieres desvincular este acuerdo?");
		    if (desvincula) {
		    	
				A.io.request('<%=ajaxURL%>',{
					dataType: 'json',
					method: 'GET',
					sync: true,
					data: { <portlet:namespace />acuerdoId: acuerdoId,
							<portlet:namespace />temaId: <%= tema.getString("id") %>,
							<portlet:namespace />cmd: "updateAcuerdo"},
					on: {
						success: function() {
							
							var vinculados = this.get('responseData').vinculados;
							
							//alert("Este acuerdo queda vinculado con: " + vinculados + " temas ");
							alert("Este acuerdo queda vinculado con: " + vinculados + " temas ");

							window.location.href = "<%= redirectUrl %>";
						}
					}
				});  	
		    	
		    	
		        return true;
		    } else {
		    	console.log("false...")
		        return false;   
		    }


		});
		}



</script>