.gobmx{
	font-weight: 300 !important;
}
.gobmx .modal-body {
    max-height: 550px!important;
}
.alert.alert-info.hide {
	display: block !important;
}
.msgError {
	color:#D0021B !important; 
	font-size:11px !important;
}

.danger {
	color: #D0021B !important;
}
.aui .modal {
	position: absolute !important;
}